.main-grid{
    display: grid;
    grid-template-rows:150px 285px ;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    /* padding: 8px; */
    align-content: space-around;   
}

.small-box {
  height: 100%;
  width: 40%;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.carousel-large-box{
    height: 230px;
    width: 100%;
    background-color: white;

}

.carousel-small-box{
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
  overflow: hidden;
  background-color: white
}

.small-img-box {
  width: 100%;
  height: 80%;
  background-color: brown;
  overflow:hide;
}

.text-left {
    text-align: left;
    margin-left: 25px;
    margin-top: 15px;
}

.box-title {
    font-size: 20px;
    padding-top: 5px;
}

.large-grid{
    background-color: white;
    grid-row: 1/3;
}

.img-container {
    height: 320px;
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-test {
    max-height: 100%;
    max-width: none;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.small-grid{
    background-color: white;

}

#no-background-color{
    background-color: none;
}

button{
    border: 1px solid white;
  }

.sign-btn{
    width: 80%;
    height: 35px;
    background-color: rgb(243, 177, 54);
    border-radius: 10px;
}

.margin-20{
    margin-top: 20px;
}

.sign-btn:hover{
    background-color: rgb(231, 192, 118);
}

.warap{
    width: 95%;
    height: 450px;
    margin: 0 auto;
    margin-top: 20px;
}

.mid-box {
  width: 350px;
  height: 35%;
  margin: 0 auto;
  /* background-color: aqua; */
  margin-bottom: 15px;
  display: flexbox;
}